
/* header */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem 20rem 18rem 20rem;
    transition: opacity .2s ease,transform .2s ease;
    position: relative;
}
.intro.hidden{
    opacity:0;
    transform: translateY(5rem);
}
.intro h1{
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 2pt;
}
.logo{
    transition: opacity .5s ease,trasform .5s ease;
    opacity: 0;
    visibility: hidden;
}
.intro p{
    color:#fff;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 4;
}
.intro a{
    font-size: 6rem;
    color: #fff;
}
.intro.hidden+.logo{
    transform: translateY(-10rem);
    opacity: 1;
    visibility: visible;
}
/*Body*/
.featured{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured .article-header h2{
    font-size: 6rem;
}

.featured .article-header p{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: block;
    padding: 0 20rem 4rem 20rem;
}
.featured a img{
    width:100%;
    margin:5.5rem 0mm
}
.featured .special-actions li a{
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
}
/*posts grid */
.posts{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr) ;
    border-top: 2px solid #eeeeee;
}
.post{
    padding: 6rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
}
a img{
    width: 100%;
}
.article-header h2{
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    display: block;
    padding: 4rem;
}
.post p{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: block;
    margin:3rem 0 3rem 0;
    text-align: justify;
}
.special-actions{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.special-actions li a{
    font-size: 1.7rem;
    color: #212931;
    border: .2rem solid #212931;
    padding: 2rem;
    font-weight: 700;
    font-style: bold;
}
/* footer */

footer{
    width:88vw;
    margin:auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 5.5rem;
}
.page,.extra,.next{
    color:#212931;
    font-size: 2rem;
    font-weight:700;
    font-style: bold;
    border:#eeeeee 2px solid;
    padding: 1rem 1.5rem;
    margin-left: -0.2rem;
    margin-right: -0.1;

}
/* pseudo class effects */
a:hover{
    color: #5cb1db;
    border-color: #5cb1db;
}
.special-actions a:hover{
    color: #5cb1db;
    border-color: #5cb1db;
}
.featured .date::before{
    content: "";
    border-top: #eeeeee 2px solid;
    position: absolute;
    display: inline-block;
    top:50%;
    left: -3%;
    width: calc(50% - 6rem);

}
.featured .date::after{
    content: "";
    border-top: #eeeeee 2px solid;
    position: absolute;
    display: inline-block;
    top:50%;
    right: -3%;
    width: calc(50% - 6rem);
}
.navlinks li.active a:hover{
    color: #5cb1db;
}
/*responsive*/

@media (max-width : 1300px) {
    .intro{
        padding: 30rem 10rem 15rem 10rem;
    }
    .intro h1{
        font-size: 6rem;
    }
    .intro p{
        font-size: 2.4rem;

    }
}
@media (max-width : 1200px){
    .featured .article-header h2{
        font-size: 4rem;
    }
    .featured{
        padding: 9rem;
    }
    .featured .article-header p{
        padding: 0 10rem 2rem 10rem;
    }
    .article-header h2{
        font-size: 3.3rem;
        line-height: 4rem;
    }
    .post p{
        font-size: 1.6rem;
        margin:2rem 0 2rem 0;
    }
}

@media(max-width:980px){
    .featured .article-header p{
        font-size: 1.8rem;
        padding: 0 10rem 2rem 10rem;
    }
    .posts{
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
    .post{
        padding: 8rem;
    }
    .post p{
        font-size: 1.6rem;
        margin:4rem 0 4rem 0;
    }
    a img{
        width:80%;
        margin:auto;
        display: block;
    }
}
@media(max-width:860px){
    .intro{
        padding: 30rem 8rem 15rem 8rem;
    }
    .intro h1{
        font-size: 4rem;
    }
    .intro p{
        font-size: 2.2rem;

    }
}
@media(max-width:768px){
    .intro{
        padding: 30rem 4rem 10rem 4rem;
    }
    .intro p{
        line-height: 4rem;
        margin-top: 3rem;
    }
    .featured .article-header h2{
        font-size: 3rem;
    }
    .featured .article-header p{
        padding: 0 6rem 2rem 6rem;
        font-size: 1.8rem;
        text-align:start;
    }
    .page,.extra,.next{
        font-size: 1.4rem;
    }
    footer{
        width: 100%;
        padding:4rem
    }

}
@media(max-width:580px){
    .featured .article-header p{
        padding: 0;
        font-size: 1.8rem;
    }
}
@media(max-width:495px){
    .intro{
        padding: 30rem 0rem 10rem 0rem;
    }
    .article-header p{
        padding: 0 4rem 2rem 4rem;
    }
    .post{
        padding:2rem;
        margin-bottom: 2rem;
    }
    .featured{
        padding: 1rem;
    }
}
