/* Generic styles */
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 3rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color: #1e252d;
    background-image: url("/images/bg.jpg"),linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem 20rem 18rem 20rem;
    transition: opacity .2s ease,transform .2s ease;
    position: relative;
}
.intro.hidden{
    opacity:0;
    transform: translateY(5rem);
}
.logo{
    color: #fff;
    font-size: 6rem;
    position: relative;
    transition: opacity .5s ease,trasform .5s ease;
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    font-style: bold;
    border: #fff solid 1rem;
    padding: 2rem;
    letter-spacing: .8rem;
}
.intro h1{
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 2pt;
}
.intro p{
    color:#fff;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 4;
}
.intro a{
    font-size: 6rem;
    color: #fff;
}
.intro.hidden+.logo{
    transform: translateY(-10rem);
    opacity: 1;
    visibility: visible;
}
/*Still needs some wortk */

/*Start of THe navbar*/
#navbar{
    display: flex;
    flex-direction: row;
    width: 80vw;
    background-color: #6d6763;
    margin: auto;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    flex-direction: row;
    width:70%;
    text-transform: uppercase;
}
.navlinks li.active{
    background-color: #fff !important;
    box-shadow: .2rem -.2rem .2rem   rgba(0,0, 0, 0.3);
}
.navlinks li.active a{
    color:#282f36
}
.navlinks a{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    display: block;
    padding: 2.4rem;
}
.navlinks li a:hover {
    background-color: rgba(255, 255, 255,.1);
    color: #fff;
}
.navicons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width:30%;
}
.navicons a{
    font-size: 3rem;
    color: #fff;
    display: inline-block;
    margin: 0 2rem 0 0;
}
/*Body*/

main{
    background-color:#fff;
    width: 80vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.featured{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    display: block;
    width:100%;
    position: relative;
    text-align: center;
}

.featured .article-header h2{
    font-size: 6rem;
}

.featured .article-header p{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: block;
    padding: 0 20rem 4rem 20rem;
}
.featured a img{
    width:100%;
    margin:5.5rem 0mm
}
.featured .special-actions li a{
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;
}
/*posts grid */
.posts{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr) ;
    border-top: 2px solid #eeeeee;
}
.post{
    padding: 6rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
}
a img{
    width: 100%;
}
.article-header h2{
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    display: block;
    padding: 4rem;
}
.post p{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: block;
    margin:3rem 0 3rem 0;
    text-align: justify;
}
.special-actions{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.special-actions li a{
    font-size: 1.7rem;
    color: #212931;
    border: .2rem solid #212931;
    padding: 2rem;
    font-weight: 700;
    font-style: bold;
}
/* footer */

footer{
    width:80vw;
    margin:auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 5.5rem;
}
.page,.extra,.next{
    color:#212931;
    font-size: 2rem;
    font-weight:700;
    font-style: bold;
    border:#eeeeee 2px solid;
    padding: 1rem 1.5rem;
    margin-left: -0.2rem;
    margin-right: -0.1;

}
.active{
    background-color: #eeeeee;
}
/* pseudo class effects */
a:hover{
    color: #5cb1db;
    border-color: #5cb1db;
}
.special-actions a:hover{
    color: #5cb1db;
    border-color: #5cb1db;
}
.featured .date::before{
    content: "";
    border-top: #eeeeee 2px solid;
    position: absolute;
    display: inline-block;
    top:50%;
    left: -3%;
    width: calc(50% - 6rem);

}
.featured .date::after{
    content: "";
    border-top: #eeeeee 2px solid;
    position: absolute;
    display: inline-block;
    top:50%;
    right: -3%;
    width: calc(50% - 6rem);
}
.navlinks li.active a:hover{
    color: #5cb1db;
}
/*# hamburger Menu*/
.menu:hover{
    color: #5cb1db;
    cursor: pointer;
}

.menu:hover .menu-line{
    background-color: #5cb1db
}
.menu{
    position:fixed;
    width:5rem;
    right:1rem;
    top:2rem;
    z-index: 2;
    display: none;
}
.menu-line{
    background-color: #fff;
    height: .2rem;
    width: 60%;
    margin-bottom: .6rem;
    transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#navpanel{
    transform: translateX(100%);
    height: 100%;
    width:30%;
    position:fixed;
    background-color: #fff;
    right: 0;
    opacity: 0;
    top:0;
    
    transition: transform .3s ease-in,opacity .2s cubic-bezier(0.075, 0.82, 0.165, 1),box-shadow .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#navpanel.open{
    transform: translateX(0);
    opacity: 1;
    box-shadow: 2rem 2rem 10rem 100rem rgba(0,0, 0, 0.3);
}
#navpanel div{
    margin-top:5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links a{
    font-size: 1.8rem;
    color:rgb(33,41,49);
    font-style: bold;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding:1rem;
}
.links a:hover{
    color:#5cb1db;
}
.links li{
    border-bottom:.2rem solid #eeeeee
}
.icons{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: flex-start;
}
.close .line1{
    height: .3rem;
    background-color: #6d6763;
    transform:translate(1.4rem,.38rem) rotate(45deg);
}
.close .line3{
    height: .3rem;
    background-color: #6d6763;
    transform: translate(1.4rem,-.5rem) rotate(-45deg);
}
.close .line2{
    display: none;
}
.close .menu-line{width:40%}
/*responsive*/

@media (max-width : 1300px) {
    .intro{
        padding: 30rem 10rem 15rem 10rem;
    }
    .intro h1{
        font-size: 6rem;
    }
    .intro p{
        font-size: 2.4rem;

    }
}
@media (max-width : 1200px){
    .featured .article-header h2{
        font-size: 4rem;
    }
    .featured{
        padding: 9rem;
    }
    .featured .article-header p{
        padding: 0 10rem 2rem 10rem;
    }
    .navlinks a{
        font-size: 1.4rem;
        padding: 2rem;
    }
    .article-header h2{
        font-size: 3.3rem;
        line-height: 4rem;
    }
    .post p{
        font-size: 1.6rem;
        margin:2rem 0 2rem 0;
    }
}

@media(max-width:980px){
    .featured .article-header p{
        font-size: 1.8rem;
        padding: 0 10rem 2rem 10rem;
    }
    #navbar{
        display: none;
    }
    .posts{
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
    .post{
        padding: 8rem;
    }
    .post p{
        font-size: 1.6rem;
        margin:4rem 0 4rem 0;
    }
    a img{
        width:80%;
        margin:auto;
        display: block;
    }
    .menu{
        display: inline-block;
    }
}
@media(max-width:860px){
    .intro{
        padding: 30rem 8rem 15rem 8rem;
    }
    .intro h1{
        font-size: 4rem;
    }
    .intro p{
        font-size: 2.2rem;

    }
}
@media(max-width:768px){
    .intro{
        padding: 30rem 4rem 10rem 4rem;
    }
    .intro p{
        line-height: 4rem;
        margin-top: 3rem;
    }
    .featured .article-header h2{
        font-size: 3rem;
    }
    .featured .article-header p{
        padding: 0 6rem 2rem 6rem;
        font-size: 1.8rem;
        text-align:start;
    }
    .page,.extra,.next{
        font-size: 1.4rem;
    }
    .menu{
        right:.2rem;
    }
    .menu.noir .menu-line{
        background-color: #000;
    }
    footer{
        width: 100%;
        padding:4rem
    }
    main{
        width: 100%;
    }
}
@media(max-width:580px){
    .featured .article-header p{
        padding: 0;
        font-size: 1.8rem;
    }
    #navpanel{
        width:50%
    }
}
@media(max-width:495px){
    .links a{
        font-size: 1.3rem;
    }
    .intro{
        padding: 30rem 0rem 10rem 0rem;
    }
    .article-header p{
        padding: 0 4rem 2rem 4rem;
    }
    .post{
        padding:2rem;
        margin-bottom: 2rem;
    }
    .featured{
        padding: 1rem;
    }
}
